body {
}

.page-content-container {
    background-color: rgb(45, 45, 60);
    color: white;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    min-height: 200px;
    padding: 0.5rem;
    margin: 1.5rem;
}

.device-connected {
    color: limegreen;
}

.device-disconnected {
    color: red;
}

.fixed-dropdown {
    width: 200px; /* stała szerokość całego komponentu */
}